body {text-align:center;background-color:#d0e4fe;}
.blank_style {font-size:0px}
.weekdays {text-align:center;color:green;text-align:center;font-size:18px;}
.day_style {text-align:center;font-family:"Times New Roman";font-size:20px;}
.today_style {text-align:center;color:red;text-align:center;font-size:20px;}
.day_style:hover{background-color:#C0C0C0;cursor:pointer;}
.weekdays:hover{background-color:#C0C0C0;cursor:pointer;}
.selected_day {text-align:center;background-color:#FFF0F5;color:blue;/*text-shadow:#6374AB 2px -2px 1px;*/}
/*.old_selection {text-align:center;color:blue;background-color:yellow;text-decoration:underline;}*/
/*.old_selection:hover{background-color:lime;cursor:pointer;}*/


